<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>web-dev social</title>
        <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css"
      crossorigin="anonymous"
    />
    <!-- <link rel="icon" type="image/x-icon" href="/images/favicon.ico"> -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
        <canvas id="Granim"></canvas>
      <div class="head">
        <h1><a href="/" >
        {{!-- <img src="/assets/images/cat-on-log.png" alt="Cat on a Log" id="logo"> --}}
        web-dev social</a></h1>
        <div>
          <a href="/login">login</a>
          <a href="/signup">sign up</a>
          <a href="" class="button large" id="crtbtn">create a post</a>
        </div>
      </div>
    </header>

    <main>
        {{{body}}}
    </main>
    <footer>
      <div class="footer">
        <h5>© 2022 web-dev social</h5>
      </div>
    </footer>
    <script src="https://cdn.tutorialjinni.com/granim/2.0.0/granim.js"></script>
    <script src="/javascript/main.js"></script>
  </body>
</html>