<div>
<div class="grid-container">
    <div class="grid-x align-center grid-margin-x">
    <div class="card cell small-10 large-7 align-spaced">
        <h4 class="card-divider align-center">
        <a href="allposts/singlepost">from advisor to developer</a>
        </h4>
        <div class="card-section text-center">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit assumenda numquam 
            reprehenderit laudantium delectus quidem, consectetur similique, suscipit quae unde 
            rerum libero odit omnis vitae sint eaque! Numquam, quo nam.
        </p>
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
            <div class=" cell">
                <h5><a href="/allposts/singlepost" class="button">view comments</a></h5>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="card cell small-10 large-7">
        <h4 class="card-divider align-center">
        <a href="/singlepost">90 years old, new developer</a>
        </h4>
        <div class="card-section text-center">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit assumenda numquam 
            reprehenderit laudantium delectus quidem, consectetur similique, suscipit quae unde 
            rerum libero odit omnis vitae sint eaque! Numquam, quo nam.
        </p>
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
            <div class=" cell">
                <h5><a href="/" class="button">view comments</a></h5>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="card cell small-10 large-7">
        <h4 class="card-divider align-center">
        <a href="/singlepost">my bootcamp experience</a>
        </h4>
        <div class="card-section text-center">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit assumenda numquam 
            reprehenderit laudantium delectus quidem, consectetur similique, suscipit quae unde 
            rerum libero odit omnis vitae sint eaque! Numquam, quo nam.
        </p>
        <form>
            <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class=" cell">
                <h5><a href="" class="button">view comments</a></h5>
                </div>
            </div>
            </div>
        </form>
        </div>
    </div>
    </div>
</div>
</div>