<!--Nav Section-->
<section>
<div id="nav">
    <h2><a href="#about">about</a></h2>
    <h2><a href="/cat-a-log">cat-a-log</a></h2>
    <h2><a href="/resources">resources</a></h2>
</div>
</section>
<!--Posts section-->
<section class="topic-section">
<div class="topic">
    <h3><a href="#explore">explore</a></h3>
</div>
<div>
    <div class="grid-container" id="explore">
    <div class="grid-x align-center grid-margin-x">
        <div class="card cell small-10 medium-6 large-4 align-spaced">
        <h4 class="card-divider align-center">
            <a href="/allposts">"boot"-campfire</a>
        </h4>
        <div class="card-section text-center">
            <p>
            Read the stories, experiences, and goals of current and past
            bootcamp members.
            </p>
        </div>
        </div>
        <div class="card cell small-10 medium-6 large-4">
        <h4 class="card-divider align-center">
            <a href="/allposts">have questions?</a>
        </h4>
        <div class="card-section text-center">
            <p>
            Browse questions asked by other prospective, current and
            past bootcamp members
            </p>
        </div>
        </div>
        <div class="card cell small-10 medium-6 large-4">
        <h4 class="card-divider align-center">
            <a href="/allposts">miscellaneous</a>
        </h4>
        <div class="card-section text-center">
            <p>Looking for developer memes? Look no further!</p>
        </div>
        </div>
    </div>
    </div>
</div>
</section>

<!--About Section-->
<section class="about-section" id="about">
<div class="about">
    <h3>about</h3>
</div>
<div class="about">
    <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos,
    officiis similique ipsam voluptates architecto debitis deserunt
    ducimus praesentium eligendi doloremque, veniam soluta repellendus
    fuga a ex provident voluptatem alias enim.
    </p>
</div>
</section>
<!--Contact Section-->
<section class="contact-section">
<div>
    <div class="contact">
    <h3>connect with us</h3>
    </div>
</div>
<div>
    <ul class="contact">
    <li><a href="https://github.com/michaelphan35" target="_blank">Michael</a></li>
    <li><a href="https://github.com/Boris-Veselov" target="_blank">Boris</a></li>
    <li><a href="https://github.com/griffondo" target="_blank">Griffin</a></li>
    <li><a href="https://github.com/mmilner29" target="_blank">Madi</a></li>
    <li><a href="https://github.com/OSCARHERNANDEZ2022" target="_blank">Oscar</a></li>
    </ul>
</div>
</section>