<section>
    <div id="nav">
        <h2><a href="">resources</a></h2>
    </div>
    </section>
    <section>
    <div class="grid-container">
        <div class="grid-x align-center grid-margin-x">
            <div class="card cell">
            <h4 class="card-divider align-center">
                <a href="">programming languages</a>
            </h4>
            <ul>
                <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">html</a></li>
                <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">css</a></li>
                <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">javascript</a></li>
            </ul>
            <div class="card-section text-center">
            </div>
            </div>
            <div class="card cell">
            <h4 class="card-divider align-center">
                <a href="">career development</a>
            </h4>
            <ul>
                <li>networking</li>
                <li>linkedin</li>
                <li>resume tips</li>
            </ul>
            <div class="card-section text-center">
            </div>
            </div>
            <div class="card cell">
            <h4 class="card-divider align-center">
                <a href="">helpful tools</a>
            </h4>
            <ul>
                <li>stack overflow</li>
                <li>git</li>
                <li>prettier</li>
            </ul>
            <div class="card-section text-center">
            </div>
            </div>
        </div>
        </div>
    </section>