<div>
<form class="signup">
    <div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
        <label for="user" class="middle">username:</label>
        <input type="text" id="user" placeholder="username" /><br />
        </div>
    </div>
    </div>
    <div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
        <label for="email" class="middle">email:</label>
        <input type="text" id="email" placeholder="email" /><br />
        </div>
    </div>
    </div>
    <div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
        <label for="pass" class="middle">password:</label>
        <input type="password" id="pass" placeholder="password" /><br />
        </div>
    </div>
    </div>

    <div class="grid-container">
    <div class="grid-x grid-padding-x">
        <fieldset class="cell">
        <label for="mtype">are you a...</label>
        <br />

        <label for="prospect" class="radio">prospective bootcamp member:</label>
        <input type="radio" value="prospect" id="prospect" name="member" /><br />
        <label for="current" class="radio">current bootcamp member:</label>
        <input type="radio" value="current" id="current" name="member" /><br />
        <label for="past" class="radio">bootcamp graduate:</label>
        <input type="radio" value="past" id="past" name="member" /><br />
        </fieldset>
    </div>
    </div>
    <div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
        <label for="interest" class="middle">
            why are you interested in a coding bootcamp?
            </label
        ><br />
        <textarea
            id="interest"
            placeholder="I want to..."
            class="medium"
        ></textarea>
        </div>
    </div>
    </div>
</form>
</div>
<!--import signup javascript-->

<script src="/javascript/signup.js"></script>