<div>
<div class="grid-container">
    <div class="grid-x align-center grid-margin-x">
    <div class="card cell small-10 large-10 align-spaced">
        <h4 class="card-divider">
        <a href="">from advisor to developer</a>
        </h4>
        <div class="card-section">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit assumenda numquam 
            reprehenderit laudantium delectus quidem, consectetur similique, suscipit quae unde 
            rerum libero odit omnis vitae sint eaque! Numquam, quo nam.
        </p>
        <p>
            -username
        </p>
        <div class="comment">
            <div>
                <p>user replied: </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi porro eius quis vitae 
                    rerum facere sapiente fugit adipisci, officia ad id labore ea amet et deleniti vero dolor 
                    quas earum.</p>
            </div>
            <div>
                <p>user replied: </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi porro eius quis vitae 
                    rerum facere sapiente fugit adipisci, officia ad id labore ea amet et deleniti vero dolor 
                    quas earum.</p>
            </div>
            <div>
                <p>user replied: </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi porro eius quis vitae 
                    rerum facere sapiente fugit adipisci, officia ad id labore ea amet et deleniti vero dolor 
                    quas earum.</p>
            </div>
        </div>
            <form class="com-form">
                <div class="grid-container">
                    <div class="grid-x grid-padding-x">
                    <div class="small-10 large-12 cell">
                        <label for="user" class="middle ">add comment:</label>
                        <textarea type="text" id="user" placeholder="comment" ></textarea><br />
                        <a href="" class="button" id="com-button">submit</a>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
</div>